/* myblog/static/lamlard/CSS/styles.css */

/* Custom styles */

/* Navbar */
$brandColor: lightblue;

body {
  font-family: system-ui;
  background: linear-gradient(to bottom, $brandColor, darken($brandColor, 15%));
  color: white;
  height: 100vh;
  margin: 0;
  display: grid;
  place-items: center;
}
/* Blog Card */
.blog-card {
  border: 1px solid #e2e8f0; /* Tailwind color: cool-gray-300 */
  border-radius: 8px;
  padding: 1rem;
  margin: 1rem 0;
  transition: box-shadow 0.3s ease;

  &:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
}

.blog-card h2 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.blog-card p {
  color: #4a5568; /* Tailwind color: gray-700 */
}

/* Image */
.blog-image {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.blog_card {
  border: 1px solid #e2e8f0;
  border-radius: 8px;
  padding: 1rem;
  margin: 1rem 0;
  transition: box-shadow 0.3s ease;

  &:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
}
